@import "@fontsource/inter/300.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/inter/800.css";
@import "@fontsource/inter/900.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .light {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --danger: 0 70% 35%;
    --danger-foreground: 210 40% 98%;
    --warning: 38 92% 50%;
    --warning-foreground: 210 40% 98%;
    --success: 143 64% 24%;
    --success-foreground: 210 40% 98%;
    --info: 226 71% 40%;
    --info-foreground: 210 40% 98%;

    --chart-1: 60 100% 50%;
    --chart-2: 71 100% 48%;
    --chart-3: 84 100% 45%;
    --chart-4: 102 100% 42%;
    --chart-5: 124 100% 37%;
    --chart-6: 155 100% 30%;
    --chart-7: 181 100% 25%;
    --chart-8: 195 100% 22%;
    --chart-9: 211 100% 19%;

    --ring: 215 20.2% 65.1%;
    --panel-opacity: 0.5;
    --radius: 0.5rem;

    --accordion-content-height: 36px;
  }

  .dark {
    --background: 222 29% 12%; /* #161B26 - Updated background color */
    --foreground: 210 40% 98%;
    --muted: 223 15% 18%; /* #222530 - Slightly lighter than background for muted areas */
    --muted-foreground: 217.9 10.6% 64.9%;
    --popover: 222 29% 12%; /* Same as background */
    --popover-foreground: 210 40% 98%;
    --border: 217 19% 27%; /* #303644 - Border color from Figma */
    --input: 217 19% 27%; /* #303644 - Same as border */
    --card: 222 29% 12%; /* Same as background */
    --card-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217 19% 27%; /* #303644 - Secondary background elements */
    --secondary-foreground: 210 40% 98%;
    --accent: 219 15% 34%; /* #404759 - Accent background elements */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 80% 58%; /* More vibrant red for destructive actions */
    --destructive-foreground: 210 40% 98%;
    --ring: 0 0% 100%;
    --sidebar: 222 29% 12%; /* Same as background */
    --hover-background: 219 31% 15%;
    --active-background: 222 45% 8%; /* Same as input-background */
    --selected-hover-background: 219 31% 15%; /* Same as hover-background */
    --input-background: 222 45% 8%;

    --danger: 2 66% 51%;
    --danger-foreground: 0 0% 100%;
    --success: 143 64% 24%;
    --success-foreground: 0 0% 100%;
    --warning: 38 92% 50%;
    --warning-foreground: 0 0% 100%;
    --info: 217 91% 60%;
    --info-foreground: 0 0% 100%;
    --panel-opacity: 0.5;
    --radius: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    html:not(.light) {
      @apply dark;
    }
  }

  @media (prefers-color-scheme: light) {
    html:not(.dark) {
      @apply light;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  html {
    -webkit-text-size-adjust: 100%;
    font-variation-settings: normal;
    font-variant: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    touch-action: manipulation;
  }
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#root {
  overflow: auto;
}
