@import "@fontsource/inter/300.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/inter/800.css";
@import "@fontsource/inter/900.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .light {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --danger: 0 70% 35%;
    --danger-foreground: 210 40% 98%;
    --warning: 38 92% 50%;
    --warning-foreground: 210 40% 98%;
    --success: 143 64% 24%;
    --success-foreground: 210 40% 98%;
    --info: 226 71% 40%;
    --info-foreground: 210 40% 98%;

    --chart-1: 60 100% 50%;
    --chart-2: 71 100% 48%;
    --chart-3: 84 100% 45%;
    --chart-4: 102 100% 42%;
    --chart-5: 124 100% 37%;
    --chart-6: 155 100% 30%;
    --chart-7: 181 100% 25%;
    --chart-8: 195 100% 22%;
    --chart-9: 211 100% 19%;

    --ring: 215 20.2% 65.1%;
    --panel-opacity: 0.5;
    --radius: 0.5rem;

    --accordion-content-height: 36px;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --danger: 0 63% 31%;
    --danger-foreground: 210 40% 98%;
    --warning: 41 96% 40%;
    --warning-foreground: 210 40% 98%;
    --success: 144 61% 20%;
    --success-foreground: 210 40% 98%;
    --info: 224 64% 33%;
    --info-foreground: 210 40% 98%;

    --ring: 216 34% 17%;
    --panel-opacity: 0.5;
    --radius: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    html:not(.light) {
      @apply dark;
    }
  }

  @media (prefers-color-scheme: light) {
    html:not(.dark) {
      @apply light;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    font-family: "Inter", sans-serif;
  }
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#root {
  overflow: auto;
}
