# Project Overview
PlatformPlatform is an enterprise-grade, multi-tenant foundation for SaaS startups. It employs a self-contained systems (SCS) architecture with micro-frontends, ensuring scalability and maintainability.

PlatformPlatform is a monorepo containing all application code, infrastructure, tools, libraries, documentation, etc. A monorepo is a powerful way to organize a codebase, used by Google, Facebook, Uber, Microsoft, etc.

.
├─ .github               # Separate GitHub workflows for deploying Infrastructure and app
├─ application           # Contains the application source code
│  ├─ AppHost            # .NET Aspire project starting app and all dependencies in Docker
│  ├─ AppGateway         # Main entry point for the app using YARP as a reverse proxy
│  ├─ account-management # Self-contained system with account sign-up, user management, etc.
│  │   ├─ WebApp         # React SPA frontend using TypeScript and React Aria Components
│  │   ├─ Api            # Presentation layer exposing the API to WebApp or other clients
│  │   ├─ Core           # Core business logic, application use cases, and infrastructure
│  │   ├─ Workers        # Background workers for long-running tasks and event processing
│  │   └─ Tests          # Tests for the Api, Core, and Workers
│  ├─ shared-kernel      # Reusable components for all self-contained systems
│  ├─ shared-webapp      # Reusable components that affect all SCSs. Uses React Aria Components
│  ├─ [saas-scs]         # [Your SCS] Create your SaaS product as a self-contained system
│  └─ back-office        # A self-contained system for operations and support (empty for now)
├─ cloud-infrastructure  # Contains Bash and Bicep scripts (IaC) for Azure resources
│  ├─ cluster            # Scale units like production-west-eu, production-east-us, etc.
│  ├─ environment        # Shared resources like App Insights, Container Registry, etc.
│  └─ modules            # Reusable Bicep modules like Container App, SQL Server, etc.
└─ development-cli       # A .NET CLI tool for automating common developer tasks

Instead of making changes in the root of the monorepo, make code changes in the relevant SCS or in the /application folder.

# Backend Guidelines
- Utilize .NET 9 features, including Aspire for project orchestration.
- When implementing new code, closely examine the coding conventions used in this project:
  - Use C# top-level namespaces.
  - Minimal API endpoints are always only one line with a call to mediator.Send().
  - CQRS Requests, Commands, Validators, and Handlers are in one shared file, ensuring one file per feature, without a folder.
- Adhere to the vertical slice architecture pattern. New features are created in the /Features subfolder in the SCS .Core project.
- The @application/shared-kernel/SharedKernel is shared between all SCSs, it contains many reusable components like Aggregates, RepositoryBase, etc.
- Write unit tests with xUnit and Fluent Assertions, following this naming convention: [Method_WhenX_ShouldY].

# Frontend Guidelines
- Develop using React with TypeScript.
- Employ React Aria Components for accessible UI elements. Use the styled components in this folder @application/shared-webapp/ui/components
- Use RsPack and RsBuild for efficient bundling and building processes.
- Implement micro-frontends within the SCS framework.
- Ensure all UI components are fully localized and accessible, using <Trans>text</Trans> in React or t`text` in text.
- When making API calls use the @application/shared-webapp/infrastructure/api/PlatformApiClient.ts like this:
  await api.get("/api/account-management/users/{id}", { params: { path: { id: userId } } });
- When adding new dependencies use specefic versions without using ^ or ~.

# Shared-Web Project
- The Shared-Web project contains components intended for reuse across all SCSs.
- Modify Shared-Web only when changes should apply universally.

# General Practices
- AVOID making changes to code that are not related to the change we are doing. E.g. don't remove comments or types.
- Assume all code is working as intended, as everything has been carefully crafted.
- Commit messages should be in imperative form, sentence case, starting with a verb, and have NO trailing dot.
- Use descriptive variables names with auxiliary verbs (e.g. isLoading, hasError)
